# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries and bins
*.so
*.dylib
*.dll
enocean_to_hue

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE settigs
*.user

# CMake stuff
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
